server:
  port: 8000

spring:
  application:
    name: gateway


eureka:
  instance:
    instance-id: aouth-gateway-id
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:7001/eureka
zuul:
  routes: aouth-server
  strip-prefix: false
