server:
  port: 8002

spring:
  application:
    name: provider

eureka:
  instance:
    instance-id: provider
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:7001/eureka
