<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link th:href="@{/css/layui.css}" rel="stylesheet"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
</head>
<body >
<div th:include="component/header :: header"></div>
<div  class="layui-container" style="width: 50%;margin-top: 100px">
    <div class="layui-row">
        <div class="layui-col-md9">
            <form class="layui-form" method="POST">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <i class="layui-icon layui-icon-username"></i>
                    </label>
                    <div class="layui-input-block">
                        <input type="text" name="username"
                               autocomplete="off" class="layui-input  layui-disabled" th:value="${session.get('username')}"
                            disabled
                        >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        微信
                    </label>
                    <div class="layui-input-block">
                        <!--/*@thymesVar id="username" type="cn.cst.entity.User"*/-->
                        <input type="text" name="wechat"
                               autocomplete="off" class="layui-input" required  lay-verify="required" th:value="${session.get('user').userInfo.wechat}"
                        >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        个人网站
                    </label>
                    <div class="layui-input-block">
                        <input type="text" name="personalWebSite"
                               autocomplete="off" class="layui-input" required  lay-verify="required" th:value="${session.get('user').userInfo.personalWebSite}"
                        >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        个性签名
                    </label>
                    <div class="layui-input-block">
                        <input type="text" name="introduction"
                               autocomplete="off" class="layui-input" required  lay-verify="required" th:value="${session.get('user').userInfo.introduction}"
                        >
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="formDemo">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<script th:src="@{/layui.js}" charset="utf-8"></script>
<script>

   layui.use('form', function () {
       let form = layui.form;
       //监听提交
       form.on('submit(formDemo)', function (data) {
           console.log(data)

           $.ajax({
               type: 'PUT',
               dataType: 'json',
               url: "/api/user",
               // headers: {"Content-Type": "application/json"},
               data:  {
                   username: data.field.username,
                   wechat: data.field.wechat,
                   personalWebSite: data.field.personalWebSite,
                   introduction:data.field.introduction

               },
               success: (res) => {
                   console.log(res)
                   alert("保存成功");
                   window.location.replace("/index");
               }, error: (e) => {
                   console.log(e)
                   alert("保存失败！" + e.responseJSON.msg);
               },
           });

           return false;
       });
       return false;
   });
</script>


</body>
</html>