<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script>
        function fun1() {
            $.ajax({
                type: "GET",
                url: "http://localhost:9001/api/rest",
                dataType: "text",
                success: function (data) {
                    console.log(data)
                },
                error: function (jqXHR) {
                   console.log(jqXHR)
                }
            });
        }
    </script>
</head>
<body>
<h1>成功！</h1>
<!--th:text 将div里面的文本内容设置为${msg} 同 jsp ，后台只需把数据放入map中即可-->
<div th:text="${session.get('username')!=null?session.get('username'):'请登录'}"></div>
<button th:if="${session.get('username')!=null}" onclick="fun1()">退出</button>
<a href="/page/login">跳转1</a>

</body>
</html>