<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">爱学社区</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul th:if="${session.get('username')!=null}" class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span th:text="${session.get('username')}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javaScript:void(0);" onclick="logout()" >退了</a></li>
        </ul>

        <ul th:if="${session.get('username')==null}" class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/login">登录</a></li>
        </ul>
    </div>
</div>
<script th:src="@{layui.js}" charset="utf-8"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
    function logout() {
        $.ajax({
            type: 'POST',
            // dataType:'json',
            url: "http://localhost:9001/api/logout",
            // headers: { "Content-Type": "application/json" },
            success: (res) => {
                console.log(res)
                if(res){
                    window.location.replace("http://localhost:9001/index");
                }
           //     window.location.replace("http://localhost:9001/index");
            }, error: (e) => {
                console.log(e)
            },
        });
        return false;
    }
</script>
</body>
</html>