<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">

<body class="layui-layout-body" th:fragment="header">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div ><a href="/index" class="layui-logo">轻学博客</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="/article">程序员劝退</a></li>
            <li class="layui-nav-item"><a href="">踩坑日记</a></li>
            <li class="layui-nav-item"><a href="">入门教程</a></li>
            <li class="layui-nav-item"><a href="">心得与杂谈</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它板块</a>
                <dl class="layui-nav-child">
                    <dd><a href="">聊天系统</a></dd>
                    <dd><a href="">消息模式</a></dd>
                    <dd><a href="">留言管理</a></dd>
                    <dd><a href="">合作联系</a></dd>
                    <dd><a href="">心愿寄语</a></dd>
                </dl>
            </li>
        </ul>
        <ul th:if="${session.get('username')!=null}" class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    <span th:text="${session.get('username')}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/user/info">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                    <dd><a href="javaScript:void(0);" onclick="logout()" >退出登录</a></dd>
                </dl>
            </li>
        </ul>

        <ul th:if="${session.get('username')==null}" class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/login">登录</a></li>
        </ul>
    </div>
</div>
<script th:src="@{/layui.js}" charset="utf-8"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
    function logout() {
        $.ajax({
            type: 'POST',
            // dataType:'json',
            url: "/api/logout",
            // headers: { "Content-Type": "application/json" },
            success: (res) => {
                console.log(res)
                if(res){
                    window.location.replace("/index");
                }
           //     window.location.replace("/index");
            }, error: (e) => {
                console.log(e)
            },
        });
        return false;
    }
</script>
</body>
</html>